<!-- index.html -->
<html>
  <head>
    <title>DriveMap (React)</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../fonts/fonts.css">
    <link rel="stylesheet" href="../fonts/roboto_condensed_macroman/stylesheet.css">
    <script src="../namespace.js"></script>
    <script src="../node_modules/sprintf-js/dist/sprintf.min.js"></script>
    <script src="../node_modules/react/dist/react.min.js"></script>
    <script src="../node_modules/immutable/dist/immutable.min.js"></script>
    <script src="../node_modules/react/dist/JSXTransformer.js"></script>
    <script src="../node_modules/underscore/underscore-min.js"></script>
    <script src="../node_modules/jquery/dist/jquery.min.js"></script>
    <script src="../node_modules/moment/min/moment.min.js"></script>
    <script>
    app.store.episodeId='{{episodeId}}';
    </script>
  </head>
  <body>
    <div id="content"></div>
    <script type="text/jsx" src="../components/main.jsx"></script>
  </body>
</html>